*{
   font-family: 'roboto', sans-serif;
}
.content{
   padding: 1rem;
}

.content h1 {
   margin: 0;
}

.Pokemons{
   display: grid;
    grid-template-columns: 1fr 1fr;
   list-style:none;
   padding:1%;
   margin:0;
}
.pokemon {
   display: flex;
   flex-direction: column;
   margin: .5rem;
   padding: 2rem 1rem;
   background-color: #49d0b0;
   color: #FFE;
   border-radius: 1rem;
}
.pokemon .number{
   color: black;
   opacity: .3;
   text-align: right;
}
.pokemon .types{
   display:flexbox;
   flex-direction:row;
}

.pokemon .detail .types{
   padding: 0;
   margin: 0;
   list-style: none;
}

.pokemon .detail img{
   max-width: 80%;
   height: 100px;
}